<div class="text-center">
    <ul *ngFor="let jugador of jugadores" [ngSwitch]="jugador.equipo">
        <li *ngSwitchCase= "'L.A Lakers'" class="lakers">
            <img src="assets/lal.png" width="100px" height="100px" align="left" class="lakers">
            <h3> {{jugador.nombre}} </h3>
            <h3 class="equipo"> {{jugador.equipo}} </h3>
        </li>
        <li *ngSwitchCase="'Boston Celtics'" class="celtics">
            <img src="assets/cel.png" width="100px" height="100px" align="left">
            <h3> {{jugador.nombre}} </h3>
            <h3 class="equipo"> {{jugador.equipo}} </h3>
        </li>
        <li *ngSwitchCase="'Chicago Bulls'" class="bulls">
            <img src="assets/bulls.png" width="100px" height="100px" align="left">
            <h3> {{jugador.nombre}} </h3>
            <h3 class="equipo"> {{jugador.equipo}} </h3>
        </li>
    </ul>
</div>